{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="home-bg" class="container h-100">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <h1 class="display-4 text-center text-black">
                We Make Sense!
            </h1>
            <div class="my-5">
                <h4 class="text-center">
                    <a href="#" class="btn btn-lg btn-light rounded-1 text-center text-uppercase py-3">Shop</a>

                </h4>
                <h4 class="text-center">
                    <a href="#" class="btn btn-lg btn-light rounded-1 text center text-uppercase py-3">Hire</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock content %}