{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block content %}

<!-- Home Page Hero Video and Links -->

<div id="home-hero" class="home-container">
    
    <video autoplay loop poster="https://res.cloudinary.com/djck2eqxo/image/upload/v1677365052/sensical/sensical_webp/sensical_poster_z6vm8x.webp" muted="muted">
        <source id="mp4" src="https://res.cloudinary.com/djck2eqxo/video/upload/v1677356370/sensical/sensical_webp/site_gif_1_zbr9bp.mp4" type="video/mp4">
        Your browser does not support the video tag. Please upgrade your browser.
    </video>

    <div class="row">
        <div class="col-12 my-auto">
            <h1 id="hero-text" class="display-4 text-center">
                We Make Sense!
            </h1>
            <div class="row">
                <div class="col-6 my-auto">
                    <div class="my-5">
                        <h2 class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-lg service-button text-uppercase py-3">Shop</a>
                        </h2>
                    </div>
                </div>
                <div class="col-6 my-auto">
                    <div class="my-5">
                        <h2 class="text-left" >
                            <a href="{% url 'hire' %}" class="btn btn-lg service-button text-uppercase py-3">Hire</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="section-rule">

{% include 'includes/home_cards.html'%}

{% endblock content %}