{% extends "base.html" %}
{% load static %}

<!-- Wishlist Page -->

{% block extra_title %} - Wishlist{% endblock %}

{% block content %}

<div class="wishlist-container">

    <!-- Page Heading -->

    <div class="col text-center">
        <h2 class="logo-font mb-4">My Wishlist <i class="fa-solid fa-heart"></i></h2>
        {% if users_wishlist %}

        <!-- Wishlist Items -->

            {% for product in users_wishlist %}
            <div class="wishlist-item-container container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-3 d-flex align-items-center ">
                        <div class="wishlist-image-container">
                            <img class="wishlist-img" src="{{ product.image.url }}" alt="{{product.name}}">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 wishlist-align d-flex align-items-center">
                        <div class="col-12">
                            <div class="col-12 ml-1 mb-1">
                                <h3 class="wishlist-heading">{{ product.name }}</h3>
                            </div>
                            <div class="col-12 ml-1 mb-1">
                                <h4 class="wishlist-heading">€{{ product.price }}</h4>
                            </div><div class="col-12 ml-1 mb-1">
                            {% if product.in_stock %}
                            <small class="text-center availability">In Stock 
                                <i class="fa-solid fa-circle-check text-success"></i>
                                </small>
                            {% else %}
                            <small class="text-center availability">Out Of Stock 
                                <i class="fa-solid fa-circle-xmark text-danger"></i>
                            </small>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 wishlist-align pl-4 d-flex align-items-center">
                        
                        
                        <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12 d-none">
                                    <p class="mt-2"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group-selector">
                                            <select class="form-control custom-select"
                                            name="quantity">
                                                <option>1</option>
                                            </select> 
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mt-1">
                                    <a href="{% url 'products' %}" class="sensical-button text-center rounded-0 mt-2">
                                        <span class="icon" ><i class="fa-solid fa-circle-arrow-left"></i></span>
                                        <span class="text-uppercase">Find More Products</span>
                                    </a>
                                </div>
                                {% if product.in_stock %}
                                <div class="col-12 ml-1 mb-1">
                                    <input class="fa-input sensical-button text-center rounded-0 text-uppercase mt-2" type="submit" value="&#xf291; Add To Basket">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                {% endif %}
                                <div class="col-12  mb-1">
                                    <a class="sensical-button" href="{% url 'add_to_wishlist' product.id %}">
                                        <span class="icon"><i class="fa-solid fa-trash"></i></span>
                                        <span>Remove from Wishlist</span>
                                    </a>
                                </div>
                                
                            </div>
                        </form>      
                    </div>
                </div>    
            </div>
            {% endfor %}
        {% else %}

        <!-- Wishlist Empty -->

        <h4>
            No products in wishlist.
        </h4>
        {% endif %}
    </div>
</div>

{% endblock %}
    