{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'testimonials/css/testimonials.css' %}">
{% endblock %}

{% block extra_title %} - Testimonials{% endblock %}

{% block content %}
<div class="testimonials-container">
    <div>
        <h2 class="col-12 text-center mb-4">Testimonials</h2>
    </div>
    
    <div class="row">
        {% for testimonial in testimonials %}
            {% if forloop.first %}
            <div class="col-12 col-lg-6 my-4 text-center">
                <div>
                    <h4>{{ testimonial.name }}</h4>
                    <div class="testimonial-body">
                        <p>{{ testimonial.testimonial }}</p>
                    </div>
                    <div class="testimonial-img-container">
                        <img class="testimonials-img" src="{{ testimonial.photo_url }}" alt="A screengrab of a customer testimonial">
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<hr class="section-rule">

{% endblock content %}