{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'testimonials/css/testimonials.css' %}">
{% endblock %}

{% block extra_title %} - Testimonials{% endblock %}

{% block content %}
<div class="testimonials-container">
        
    <div class="text-center">
        <i class="fa-solid fa-comments icon"></i>
        <h2 class="col-12 text-center mb-4">All Testimonials</h2>
    </div>

    <hr class="message-rule">
    
    {% for testimonial in all_testimonials_list %}
    <div class="row">
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 col-lg-6 my-4 text-center">
            <div class="testimonial-text">
                <i class="fa-solid fa-basket-shopping"></i>
                <h3>{{ testimonial.name }}</h3>
                <hr class="about-logo-rule">
                <p>{{ testimonial.testimonial }}</p>
                <p>Keep reading below to find out about hiring our equipment </p>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-4 text-center d-flex align-items-center">
            <div class="media-width video-box">
                <img class="w-50" src="{{ testimonial.photo_url }}" alt="A screengrab of a customer testimonial" alt="A screenshot of a customer testimonial">
            </div>
        </div>
        {% else %}
        <div class="col-12 col-lg-6 my-4 text-center d-flex align-items-center">
            <div class="media-width video-box">
                <img class="w-50" src="{{ testimonial.photo_url }}" alt="A screengrab of a customer testimonial" alt="A screenshot of a customer testimonial">
            </div>
        </div>
        <div class="col-12 col-lg-6 my-4 text-center">
            <div class="testimonial-text">
                <i class="fa-solid fa-basket-shopping"></i>
                <h3>{{ testimonial.name }}</h3>
                <hr class="about-logo-rule">
                <p>{{ testimonial.testimonial }}</p>
                <p>Keep reading below to find out about hiring our equipment </p>
            </div>
        </div>
        {% if user.is_superuser %}
                <div>
                    <a class="sensical-button" href="{% url 'update_testimonial' testimonial.id %}"><i class="fa-solid fa-pen-to-square"></i> Update Testimonial</a>
                    <a class="sensical-button" href="{% url 'delete_testimonial' testimonial.id %}"><i class="fa-solid fa-trash"></i> Delete Testimonial</a>
                </div>
        {% endif %}
        {% endif %}
    </div>
        {% endfor %}
        <div class="row">
            <div class="col-12 mt-4 text-center">
                <a class="sensical-button" href="{% url 'about' %}">Back to about page</a> 
            </div>
        </div>
</div>


<hr class="message-rule">

{% endblock content %}