.packages-container {
    margin-top: 160px;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.packages-text {
    width: 100%;
    border: solid 1px white;
    padding: 2rem;
    min-height: 350px;
}

.packages {
    width: 70%;
    margin-left: 15%;
}

.packages-logo-rule {
    width: 60%;
    border-color: white;
    margin-bottom: 30px;
}

.media-width {
    width: 100%;
}

.packages-img {
    width: 100%;
    padding: 0.5rem;
    background-color: white;
}

.equip, .items {
    padding: 0.5rem;
    margin-top: 1rem;
    text-align: left;
    width: 82%;
    margin-left: 15%;
}

.package{
    text-align: left;
}

.package-list {
    list-style-type: disc;
}

.discount {
    background-color: #75e6ff;
    color: #0c2d6c;
    padding: 0.5rem;
}

@media screen and (max-width: 991px) {
    .testimonial-text {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    .packages-container {
        width: 96%; 
    }
    .packages-text {
        padding: 1rem;
    }
    .request-button {
        font-size: 2.6vw;
    }
}