/* **** Site-wide style rules **** */

body {
    background-color: #0c2d6c;
    color: rgb(255, 255, 255);
    font-family: 'Assistant';
}

a {
    color: #0c2d6c;
}

/* **** Default Icon rules from Code Institute's 'Boutique Ado' code-along project/Bulma **** */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    font-size: large;
}

.section-rule {
    width: 60%;
    border-color: white;
    margin-top: 40px;
    margin-bottom: 30px;
}

.primary-bg {
    background-color: #0c2d6c;
}

.secondary-bg {
    background-color: #75e6ff;
    height: 36px;
}

.dark-text {
    color: #0c2d6c;
    padding: 0.5rem;
}

.center-row {
    justify-content: center;
}

/* **** Nav Elements **** */

#nav-logo {
    height: 76px;
    margin-left: 20px;
}

#mobile-nav-logo {
    height: 65px;
    padding-bottom: 4px;
}

#mobile-nav-xs {
    height: 50px;
    padding-bottom: 4px;
    display: none;
}

.navbar {
    padding: 0;
    width: 96%;
}

nav a {
    color: white;
}

nav a:hover {
    color: #75e6ff; 
}                             

.navbar-toggler {
    border: 1px solid white;
    width: 50px;
    height: 40px;
    margin-left: 15px;
}

.navbar-toggler-icon {
    width: 100%;
}

.nav-footer {
    background-color: #75e6ff;
    height: 2px;
}

.carousel-item.active {
    display: block;
}


.banner-font {
    font-size: 16px;
    color: #0c2d6c;
    font-style: italic;
    padding-top: 8px;
}

/* **** Landing Page **** */

#hero-text {
    font-family: 'Puritan';
    letter-spacing: 2px;
    font-size: 8vw;
    margin-top: 4rem;
    filter: drop-shadow(2px 4px 6px black);
}

#home-hero {
    margin-top: 160px;
    background: url('https://res.cloudinary.com/djck2eqxo/image/upload/v1673109670/sensical/Jan-07-2023_16-35-47_vxg7as.gif') no-repeat center center;
    background-size: cover;
}

.home-bg {
    background-color:  #0c2d6c;
}

.service-button {
    width: 100px;
    height: fit-content;
    background-color: white
}

.home-card {
    min-height: 500px;
    border-radius: 0;
    border: 0;
}

.card-buttons {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.sensical-button {
    margin-top: 1rem;
    font-size: 14px;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: white;
    background-color: #0c2d6c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.sensical-button:hover {
    background-color: #75e6ff;
    text-decoration: none;
    color: #0c2d6c;
}

.card-subtitle {
    font-size: small;
    font-weight: bolder
}

.card-body {
    min-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
}

.card-text {
    color: #0c2d6c;
    font-size: larger;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    border: solid 1px white;
}

/* **** Footer **** */

footer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background-color: #75e6ff;
    padding: 2rem;
}

.footer-info-box {
    background-color: white;
    color: #0c2d6c;
    width: 260px;
    padding: 0.5rem;
    border: 2px solid #0c2d6c;
}

.footer-info-box i {
    padding: 4px;
}

/* **** Products Page **** */

.products-bg {
    margin-top: 158px;
    background-size: cover;
}

.products-bg .card {
    color: #0c2d6c;
    border-radius: 0;
    border: 0;
}

.title-col {
    min-height: 100px;
}

#hidden-stock-status {
    display: none;
}

.button-row {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2rem;
}

.products-button {
    padding: 0.5rem;
    background-color: #0c2d6c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.products-button a {
    width: 90px;
    margin-top: 1rem;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.products-button:hover {
    background-color: #75e6ff;
    text-decoration: none;
    color: #0c2d6c;
}

.products-button a:hover {
    background-color: #75e6ff;
    text-decoration: none;
    color: #0c2d6c;
}

.card-price-bg {
    margin-left: 5%;
}

/* **** Shopping Basket **** */

.basket-bg {
    margin-top: 158px;
    background-size: cover;
    min-height: 100vh;
}

/* **** MEDIA QUERIES **** */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    }

@media screen and (max-width: 991px) {
    .navbar {
        width: 100%;
    }

    #home-hero {
        margin-top: 154px;
    }

    .nav-footer {
        display: none;
    }

    .home-card {
        width: 80%;
        margin-left: 10%;
    }
    .home-card-img{
        height: 80%;
        object-fit: scale-down;
    }
    }

@media screen and (max-width: 767px) {
    #home-hero {
        margin-top: 150px;
    }
    }
    

@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
    #home-hero {
        margin-top: 140px;
    }

    }

@media screen and (max-width: 500px) {
    #mobile-nav-logo {
        height: 55px;
    }
    #mobile-nav-logo {
        margin: 5px;
    }
    .navbar-toggler {
        border: none;
        width: 45px;
        height: 40px;
        margin-left: 0px;
    }
    .home-card {
        width: 90%;
        margin-left: 5%;
    }
    }

@media screen and (max-width: 430px) {
    #mobile-nav-logo {
        height: 45px;
        margin: 10px;
    }
    .nav-link{
        padding: 3px;
    }
    .home-card {
    width: 100%;
    margin-left: 0;
    }
    .products-bg {
    margin-top: 200px;
    background-size: cover;
    }
    }

@media screen and (max-width: 350px) {
    #mobile-nav-logo {
        display: none;
    }

    #mobile-nav-xs {
        height: 70px;
        padding-top: 4px;
        display: block;
    }
    }