<footer class="footer py-3">
    <div class="footer-info-box">
        <p class="m-0 text-center">&#169; David Calikes 2023</p>
        <p class="m-0 text-center"> 
            <a target="_blank" title="Link to David Calikes' Github" href="https://github.com/davidcalikes/mypse.ie"><i class="fab fa-github ms-1"></i></a>
            <a target="_blank" title="Link to David Calikes' linkedin profile" href="https://www.linkedin.com/in/david-calikes-8b360b46/?originalSubdomain=ie"><i class="fab fa-linkedin ms-1"></i></a>
        </p>
    </div>
</footer>