<!-- Home Page Cards with Links -->

<div class="home-container home-bg">
    <div class="row">
        <div class="col-12 my-auto">

            <section>
                <div class="row center-row cards-bg">
                    <div class=" col-12">
                        <h2 class="mb-4 text-center">Products & Services</h2>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card home-card mb-4">
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/djck2eqxo/image/upload/v1677326603/sensical/sensical_webp/hire_svn0kr.webp"
                                        alt="Card image cap for hire card">
                                    <div class="row">
                                        <div class=" col-12 text-center">
                                            <h3 class="text-light mb-0 mt-4">Sensory Hire</h3>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-center"> Hire our industry standard sensory equipment
                                            at your convenience.</p>
                                    </div>
                                    <div class="card-buttons">
                                        <a href="{% url 'hire' %}"
                                            class="text-center sensical-button sensical-button-border">Book Now!</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card home-card mb-4">
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/djck2eqxo/image/upload/v1677327732/sensical/sensical_webp/sensory_webstore_duxcqh.webp"
                                        alt="Card image cap for store card">
                                    <div class="row">
                                        <div class=" col-12 text-center">
                                            <h3 class="text-light mb-0 mt-4">Sensory Webstore</h3>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-center">Browse our collection of quality, affordable
                                            sensory technology.</p>
                                    </div>
                                    <div class="card-buttons">
                                        <a href="{% url 'products' %}"
                                            class="text-center sensical-button sensical-button-border">Shop Now!</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="card home-card mb-4">
                                    <img class="card-img-top home-card-img"
                                        src="https://res.cloudinary.com/djck2eqxo/image/upload/v1677326830/sensical/sensical_webp/sensical_logo_png_gdcdmy_v2f567.webp"
                                        alt="Card image cap for about card">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h3 class="text-light mb-0 mt-4">Company Info</h3>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-center">Learn more about our clients, staff, products
                                            and multi-sensory services.</p>
                                    </div>
                                    <div class="card-buttons">
                                        <a href="{% url 'about' %}"
                                            class="text-center sensical-button sensical-button-border">Learn More!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>