<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav {% if 'products' in request.path or 'basket' in request.path %} lower-nav-border {% endif %}  w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-3 ml-3" href="{% url 'home' %}" id="home-link"> 
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-3 ml-3" href="{% url 'products' %}" id="all-products-link">
                All Products
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-3 ml-3 dropdown-toggle" href="#" id="tactile-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tactile Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tactile-items-link">
                <a href="{% url 'products' %}?category=sensory_toys" class="dropdown-item">Sensory Toys</a>
                <a href="{% url 'products' %}?category=bubbles" class="dropdown-item">Bubbles</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a> <!-- Include Weighted Blankets, Ear Defenders and Blackout Blinds -->
                <a href="{% url 'products' %}?category=sensory_toys,bubbles,accesories" class="dropdown-item">All Tactile Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-3 ml-3 dropdown-toggle" href="#" id="audio-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Audio
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="audio-link">
                <a href="{% url 'products' %}?category=bluetooth_speakers" class="dropdown-item">Bluetooth Speakers</a>
                <a href="{% url 'products' %}?category=portable_media_players" class="dropdown-item">Portable Media Players</a>
                <a href="{% url 'products' %}?category=headphones" class="dropdown-item">Headphones</a>
                <a href="{% url 'products' %}?category=bluetooth_speakers,portable_media_players,headphones" class="dropdown-item">All Audio</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-3 ml-3 dropdown-toggle" href="#" id="lighting-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lighting
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lighting-link">
                <a href="{% url 'products' %}?category=spinners_and_torches" class="dropdown-item">Spinners and Torches</a>
                <a href="{% url 'products' %}?category=led_fixtures" class="dropdown-item">LED Fixtures</a>
                <a href="{% url 'products' %}?category=bubble_tubes" class="dropdown-item">Bubble-Tubes</a>
                <a href="{% url 'products' %}?category=spinners_and_torches,led_fixtures,bubble_tubes" class="dropdown-item">All Lighting</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-3 ml-3 dropdown-toggle" href="#" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Special Offers!</strong>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-3 ml-3 dropdown-toggle" href="#" id="hire-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Hire</strong>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hire-link">
                <a href="{% url 'hire' %}" class="dropdown-item">Hire</a>
                <a href="{% url 'packages' %}" class="dropdown-item">Packages</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-3 ml-3 dropdown-toggle" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
                <a class="dropdown-item" href="{% url 'testimonials' %}">Testimonials</a>
            </div>
        </li>
    </ul>
</div>