<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tactile-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tactile Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tactile-items-link">
                <a href="" class="dropdown-item">Weighted Blankets</a>
                <a href="" class="dropdown-item">Sensory Toys</a>
                <a href="" class="dropdown-item">Consumables</a>
                <a href="" class="dropdown-item">All Tactile Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="audio-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Audio
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="audio-link">
                <a href="" class="dropdown-item">Bluetooth Speakers</a>
                <a href="" class="dropdown-item">Portable Media Players</a>
                <a href="" class="dropdown-item">Headphones</a>
                <a href="" class="dropdown-item">All Lighting</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="lighting-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lighting
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lighting-link">
                <a href="" class="dropdown-item">Spinners and Torches</a>
                <a href="" class="dropdown-item">Led Fixtures</a>
                <a href="" class="dropdown-item">Bubble Tubes</a>
                <a href="" class="dropdown-item">All Lighting</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers!
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="" class="dropdown-item">Just Arrived</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>