


<ul class="mobile-nav">
<li class="list-inline-item dropdown">
    <a class="nav-link d-block d-lg-none" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            {% if users_wishlist %}
            <div><i class="fa-solid fa-heart icon fa-beat-fade"
                    style="--fa-beat-fade-opacity: 0.75; --fa-beat-fade-scale: 1.075;"></i></div>
            {% else %}
            <div><i class="fa-solid fa-heart icon "></i></div>
            {% endif %}
            <p class="sr-only">My Wishlist</p>
        </div>
    </a>
    <div class="dropdown-menu border-0">
        {% if request.user.is_authenticated %}
        <a href="{% url 'user_wishlist' %}" class="dropdown-item">Manage Wishlist</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item d-lg-none">
    <div class="logo-container" >
        <a href="{% url 'home' %}" title="Sensical.ie">
            <img width=642 height=206 id="mobile-nav-logo"
                src="https://res.cloudinary.com/djck2eqxo/image/upload/v1677334571/sensical/sensical_webp/sensical_mobile_inverted_nav_gsdlry_pnqifa.webp"
                alt="Sensical.">
            <span class="sr-only">Sensical.ie</span>
        </a>
    </div>
    <div class="logo-container-xs">
        <a href="{% url 'home' %}" title="Sensical.ie">
            <img width=163 height=167 id="mobile-nav-xs"
                src="https://res.cloudinary.com/djck2eqxo/image/upload/v1677334668/sensical/sensical_webp/mobile_nav_xs_p86xyq_ovdekb.webp"
                alt="Sensical.ie">
            <span class="sr-only">Sensical.ie</span>
        </a>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="sr-only">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 dropdown-menu-right" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="{% url 'add_product' %}" class="dropdown-item">Manage Products</a>
        {% endif %}
        <a href="{% url 'profile' %}" class="dropdown-item">User Profile</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>
<li class="list-inline-item">
    <a class="nav-link d-block d-lg-none" aria-label="Basket" href="{% url 'shopping_basket' %}">
        <div class="text-center">
            <div>
                <i class="fas fa-shopping-basket fa-lg"></i>
                {% if item_count %}
                <span class='item-counter'>{{ item_count }}</span>
                {% endif %}
            </div>

        </div>
    </a>
</li>
</ul>
<div class="border-0 w-100 p-1 d-lg-none bg-light mr-3 ml-3 mb-3 no-gutters rounded-0 my-0">
    <form class="form" method="GET" action="{% url 'products' %}">
        <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q"
                placeholder="Search Sensical.ie">
            <div class="input-group-append">
                <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit" aria-label="Search">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span class="sr-only">Basket</span>
                </button>
            </div>
        </div>
    </form>
</div>
