.testimonials-container {
    margin-top: 160px;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.testimonial-text {
    width: 100%;
    border: solid 1px white;
    padding: 2rem;
    min-height: 430px;
}

.testimonial-logo-rule {
    width: 60%;
    border-color: white;
    margin-bottom: 30px;
}

.media-width {
    width: 90%;
    margin-left: 5%;
}

.video-box {
    background-color: white;
    padding: 1rem;
}