{% extends "account/base.html" %}
{% load i18n %}

<!-- login -->

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="col-12 d-flex justify-content-center">
  <div class="auth-container text-center">
    <h1 class="text-center"><span class="sr-only">List Icon</span><i class="fa-solid fa-right-to-bracket"></i></h1>
    


    <h2>{% trans "Sign In" %}</h2>

    <div class="login-or">{% trans 'or' %}</div>

    <p>{% blocktrans %}If you have not created an account yet, then please
      <a class="text-light font-italic" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

    <form class="login text-center" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction sensical-button" type="submit"><i class="fa-solid fa-right-to-bracket"></i>
        {% trans "Sign In" %}</button>
    </form>
  </div>
</div>

{% endblock %}
