.StripeElement,
.StripeElement, .stripe-style-input {
  height: 44px;
  padding: 10px 12px;
  border-radius: 0;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 2px 3px 0 #75e6ff;
}

.StripeElement--webkit-autofill {
  background-color: #e6ebf1 !important;
}

.stripe-style-input::placeholder {
    color: #424b54;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    background-color: white;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.panel-title:hover {
  color: #0c2d6c;
  border: 1px solid #75e6ff;
  cursor: pointer;
  background-color: #75e6ff;
}

.panel-title {
  border: 1px solid white;
}

.email-conf {
  width: 60%;
  margin-left: 20%;
}

.email-rule {
  width: 90%;
  border-color: white;
  margin-top: 40px;
  margin-bottom: 30px;
}

.payment-strip {
  border: 1px solid;
  padding-top: 1rem;
}

.checkout-item-container {
  border: 1px solid #fff;
  padding: 0.5rem;
}

.checkout-item-details {
  display: flex;
  align-items: center;
}

.checkout-image-container {
  width: 100px;
  height: 100px;
  margin-top: .5rem;
  margin-bottom: .5rem;

}

.checkout-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.payment-container {
  margin-left: 4rem;
}

@media screen and (max-width: 991px) {
  .email-conf {
    width: 70%;
    margin-left: 15%;
  }
  .payment-container {
    margin-left: 0;
  }
  }

@media screen and (max-width: 767px) {
  .checkout-item-details {
    display: block;
  }
  }

@media screen and (max-width: 600px) {
  .email-conf {
    width: 100%;
    margin-left: 0;
  }
  }