{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block extra_title %} - About Us{% endblock %}

{% block content %}
<div id="about-hero" class="about-container">
    <div>
        <h2 class="col-12 text-center mb-4" >About Us</h2>
    </div>

    <hr class="message-rule">
    
    <div class="row">
        <div class="col-12 col-lg-6 my-4 text-center d-flex align-items-center video-box">
            <div class="video-container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/jom2VcYoUN0?autoplay=1&mute=1&texttrack=on"
                    title="YouTube video player" frameBorder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-4 text-center">
            <div class="about-text pt-1">
                <img class="about-logo" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1673355241/sensical/sensical_mobile_inverted_nav_gsdlry.png" alt="About page hero image">
                <hr class="about-logo-rule">
                <p>Sensical Multi-Sensory Solutions, is a Sensory equipment provision service operating in the North East of Ireland.</p>
                <p>Sensical, can create a pop-up style sensory room in virtually any small to medium sized space in a matter of minutes.</p>
                <p>Our Irish-owned, family-run, business has been in operation since 2018. As the company continues to grow, 2023 will see further expansion with the introduction of an online webstore.</p>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 my-4 text-center">
            <div class="about-text">
                <h3>Webstore</h3>
                <hr class="about-logo-rule">
                <p>Our new e-commerce webstore will allow our existing customer base, as well as new service users to purchase supplementary products
                which can be used to enhance the users experience in any existing sensory space, or alongside our Mobile Sensory Environments service.</p>
                <p>But dont just take our word for it, examine our videos</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-4 text-center d-flex align-items-center video-box">
            <img class="about-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1676231178/sensical/webstore_screen_uf4g48.png" alt="A screenshot of the sensical.ie webstore">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 my-4 text-center d-flex align-items-center video-box">
            <img class="about-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1676237556/sensical/Screen_Shot_2023-02-12_at_21.32.15_jzntm3.png" alt="An image of sensory equpiment">
        </div>
        <div class="col-12 col-lg-6 my-4 text-center">
            <div class="about-text">
                <h3>Equipment Hire</h3>
                <hr class="about-logo-rule">
                <p>Our new e-commerce webstore will allow our existing customer base, as well as new service users to purchase supplementary products
                which can be used to enhance the users experience in any existing sensory space, or alongside our Mobile Sensory Environments service.</p>
                <p>But dont just take our word for it, examine our videos</p>
            </div>
        </div>
    </div>
</div>

<div>
    <h2 class="col-12 text-center my-4">Testimonials</h2>
</div>

<hr class="message-rule">

<div id="testimonialsCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#testimonialsCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonialsCarousel" data-slide-to="1"></li>
        <li data-target="#testimonialsCarousel" data-slide-to="2"></li>
    </ol>
    <div id="testimonials-slider" ">
        <div class="carousel-inner">
            {% for testimonial in testimonials %}
            {% if forloop.first %}
                <div class="carousel-item carousel-item-text text-center active">                    
                    <img class="d-block img-fluid carousel-item-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1676404604/sensical/pexels-rebecca-diack-1154723_pd0roo.jpg" alt="First Slide">
                    <div class="carousel-caption d-md-block">
                        <h3 class="my-4 testimonial-heading">{{ testimonial.name }}</h3>
                        <p class="testimonial-text">"{{ testimonial.testimonial }}"</p>
                        
                    </div>
                </div>
            {% else %}
                <div class="carousel-item carousel-item-text text-center">
                    <img class="d-block carousel-item-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1676417286/sensical/pexels-amar-preciado-10196786_myqnmd.jpg" alt="Second Slide">                   
                    <div class="carousel-caption d-md-block">
                        <h3 class="my-4 testimonial-heading" >{{ testimonial.name }}</h3>
                        <p class="testimonial-text">"{{ testimonial.testimonial }}"</p>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            <a class="carousel-control-prev " href="#testimonialsCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon sensical-text " aria-hidden="true">
                </span>
                <span class="sr-only">
                    Previous
                </span>
            </a>
            <a class="carousel-control-next" href="#testimonialsCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">
                </span>
                <span class="sr-only">
                    Next
                </span>
            </a>
        </div>
    </div>
</div>
        
    <div class="row">
        <div class="col-12 mt-4 text-center">
            <a class="sensical-button" href="{% url 'testimonials' %}">View All Testimonials...</a> 
        </div>
    </div>


{% endblock content %}
