{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Hire{% endblock %}

{% block content %}
<div class="hire-container">
    <div class="row">
        <div class="col-12 my-auto text-center">
            
            <h2>Sensory Equipment Hire</h2>
            <img class="hire-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1673196102/sensical/card_image_hire_vkr6do.png" alt="sensory equpiment hire">
            <p> We are currently managing our bookings via our <a class="text-light"  href="https://www.facebook.com/sensicalMSE">facebook</a> business page. click the link below to make an enquiry.</p>
            <div class="col-12 text-center my-2">
                <a class="sensical-button" href="https://www.facebook.com/sensicalMSE"><i class="fa-brands fa-facebook"></i> Make Enquiry</a>
            </div>
        
        </div>
    </div>
</div>
{% endblock content %}