{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Hire{% endblock %}

<!-- Hire Page -->

{% block content %}
<div class="hire-container">
    <div class="row">
        <div class="col-12 my-auto text-center">
            <h2>Sensory Equipment Hire</h2>
            <hr class="message-rule">
            <img class="hire-img" src="https://res.cloudinary.com/djck2eqxo/image/upload/v1676815990/sensical/Screen_Shot_2023-02-19_at_14.10.08_xli0w3.png" alt="sensory equpiment hire">
            <p class="hire-text"> We are currently managing our bookings via our <a class="text-light"  href="https://www.facebook.com/sensicalMSE" target="_blank">facebook</a> business page.</p>
            <p class="hire-text">Click on a link below to view our current packages or make an enquiry.</p>
            <div class="col-12 text-center my-3">
                <a class="sensical-button" href="{% url 'packages' %}"><i class="fa-solid fa-box-open"></i> View Package Offers</a>
            </div>
            <div class="col-12 text-center my-3">
                <a class="sensical-button" href="https://www.facebook.com/sensicalMSE" target="_blank"><i class="fa-brands fa-facebook"></i> Make Enquiry</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}