{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="products-bg container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="mb-4 text-center">All Products</h2>
        </div>
    </div>

    <div class="row">
        <div>
            <div>
                <select id="sort-selector" class="{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value='reset' {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by..</option>
                    <option value='name_asc' {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value='price_asc' {% if current_sorting == 'price_asc' %}selected{% endif %}>Price Ascending</option>
                    <option value='price_desc' {% if current_sorting == 'price_desc' %}selected{% endif %}>Price Descending</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <p class="mt-4">
            {% if products|length|stringformat:'s' == '1' %}
            {{ products|length }} product{% if search_term %} found for "{{ search_term }}"{% endif %}
            {% endif %}

            {% if products|length|stringformat:'s' != '1' %}
            {{ products|length }} products{% if search_term %} found for "{{ search_term }}"{% endif %}
            {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col mt-3">
            <input type="checkbox" id="hide-no-stock">
            <label for="hide-no-stock">Available Products Only</label>           
        </div>
    </div>
    
    <div class="row">
        {% for product in products %}
        {% if product.in_stock %}
        <div class="col-lg-4 col-md-6 in-stock">
        {% else %}
        <div class="col-lg-4 col-md-6 out-of-stock">
        {% endif %}
            <div class="card home-card mb-4">
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                <div class="row mt-2">
                    <div class=" col-12 text-center">
                        <h3 class="dark-text title-col" >{{ product.name }}</h3>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="text-center">€{{ product.price }}</h4>
                    {% if product.in_stock %}
                    <p class="text-center availability">In Stock <i class="fa-solid fa-circle-check text-success"></i>
                    </p>
                    {% endif %}
                    {% if product.in_stock == False %}
                    <p class="text-center availability">Out Of Stock <i
                            class="fa-solid fa-circle-xmark text-danger"></i></p>
                    {% endif %}
                </div>
                
                <div class="row button-row text-center"> 
                    <div class="col-6 text-center">
                        <div  class="text-center products-button">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                <div class="col-6 text-center">
                    <div  class="text-center products-button">
                        <a href="#">Item Details</a>
                    </div>
                </div>
                </div>
                <div class="card-buttons">
                    <a href="{% url 'account_login' %}" class="text-center pb-4"><small><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}

    <script>
        const stockFunction = document.getElementsByClassName("out-of-stock")
        const hideNoStock = document.querySelector('#hide-no-stock');
        hideNoStock.addEventListener('change', function(e){
        if(hideNoStock.checked){
            for (let i=0;i<stockFunction.length;i+=1){
            stockFunction[i].style.display = 'none';{
            }
        }
        } else {
            for (let i=0;i<stockFunction.length;i+=1){
            stockFunction[i].style.display = 'block';
            }
        }    
        })
    </script>

    <script>
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
    </script>

{% endblock %}