{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="products-bg container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="mb-4 text-center">All Products</h2>
        </div>
    </div>

    <div class="row">
        <div>
            <div>
                <select>
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price Ascending</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price Descending</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Availability</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <p class="mt-4 text-center">
                {{ products|length }} Products{% if search_term %} found for
                "{{ search_term }}"{% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6">
            <div class="card home-card mb-4">
                <a href="{% url 'product_detail' product.id %}">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                <div class="row mt-2">
                    <div class=" col-12 text-center">
                        <h3 class="dark-text title-col" >{{ product.name }}</h3>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="text-center">€{{ product.price }}</h4>
                </div>
                <div class="row button-row text-center"> 
                    <div class="col-6 text-center">
                        <div  class="text-center products-button">
                            <a href="#">Add to cart</a>
                        </div>
                    </div>
                <div class="col-6 text-center">
                    <div  class="text-center products-button">
                        <a href="#">Item Details</a>
                    </div>
                </div>
                </div>
                <div class="card-buttons">
                    <a href="{% url 'account_login' %}" class="text-center pb-4"><small><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

<hr class="section-rule my-5">