<div class="toast toast-shadow sensical-toast rounded-0" role="alert" data-autohide="false">
    <button type="button" class="my-2 close mr-2 text-light" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex justify-content-center mt-2">
        <h4><i class="ml-3 fa-regular fa-circle-xmark text-danger"></i></h4>
    </div>
    <div class="d-flex justify-content-center mb-2">
        <h5>Error!</h5>
    </div>
    <hr class="message-rule" >
    <div class="d-flex m-2 p-2 d-flex justify-content-center">
        <div>
        <p class="text-center">{{ message }}!</p>
        </div>
    </div>
</div>