<div class="toast sensical-toast rounded-0" role="alert" data-autohide="false">
    <button type="button" class="my-2 close mr-2 text-light" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex justify-content-center my-2">
        <h4>SUCCESS!</h4>
    </div>
    <hr class="message-rule" >
    <div class="d-flex m-2">
        <div>
        {{ message }}
        </div>
    </div>
    {% if grand_total and not on_profile_page %}
    <p class="py-1 m-2">Your Basket ({{ item_count }})</p>
    {% for item in basket_items %}
    <div class="message-item sensical-toast rounded-0">
        <div class="row">
            <div class="col-3">
                <img class="w-100" src="{{ item.product.image.url }}">
            </div>
            <div class="col-9">
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <p class="my-0 small">Qty: {{ item.quantity }}</p>
                <p class="my-0 small">Price per item: {{ item.product.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div>
        <div class="row">
            <div class="col sensical-toast rounded-0 text-light">
                <strong><p class="m-2">
                    Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                    <span class="float-right">€{{ total|floatformat:2 }}</span>
                </p></strong>
                <a href="{% url 'checkout' %}" class="btn btn-light btn-block rounded-0">
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span class="text-uppercase">Secure Checkout</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endif %}
